* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.overlay {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.75;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 32px;
  border-radius: 8px;
  background-color: white;
}

.show {
  display: flex;
}

.modal > form,
.modal > form > .form-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal > form > .form-row > input {
  font-family: sans-serif;
  font-size: 16px;
  padding: 4px;
}

.modal > form > button {
  border: none;
  border-radius: 4px;
  background-color: cadetblue;
  padding: 10px 16px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.form-header > h2 {
  margin: 0;
}

.form-header > svg {
  width: 28px;
  height: 28px;
  fill: #ccc;
  cursor: pointer;
}

.form-header > svg:hover {
  fill: #212121;
}

.check {
  flex-direction: row !important;
  padding: 16px 0;
}

input:invalid {
  border-color: #900;
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: #900;
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
